<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{product.title | uppercase}}
        </mat-card-title>
        <mat-card-subtitle>
            <strong>{{ product.price | currency}}</strong>
        </mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
        <img [src]="product.image" alt="product.title">
    </div>
    <mat-card-content>
        <mat-card-actions>
            <a mat-raised-button [routerLink]="['/products', product.id]">Ver detalle</a>
            <button (click)="addCart()" mat-raised-button color='primary'>Agregar al carrito</button>
        </mat-card-actions>
    </mat-card-content>
    <h3 appHighlight></h3>

    <p>{{product.description | slice:0:10}}</p>
    <p>{{ today | date:'HH:mm'}}</p>

</mat-card>