/* You can add global styles to this file, and also import other style files */

html,
body {
    position: relative;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 576px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}